body {
    background-image: url(Img/thumbnail.jpeg);
    background-repeat: repeat-y;
    background-size: 100% auto; /* Растягиваем изображение на всю ширину и высоту */
    background-position: center;
    height: 100vh; /* Высота равная 100% высоты видимой части окна браузера */
}



/* Основные стили для бар-меню */
.bar-menu {
     background-color: #333; /* Цвет фона бар-меню */
     padding: 10px 0; /* Внутренний отступ сверху и снизу */
     border-radius: 10%; /* Делаем Округления */
 }
 
 .bar-menu ul {
     text-align: center; /* Выравнивание элементов по центру */
 }
 
 .bar-menu ul li {
     display: inline; /* Размещаем элементы горизонтально */
     margin-right: 20px; /* Отступ между элементами */
 }
 
 .bar-menu ul li a {
     color: #fff; /* Цвет текста ссылок */
     text-decoration: none; /* Убираем подчеркивание ссылок */
     padding: 5px 10px; /* Внутренний отступ внутри ссылок */
     transition: all 0.3s ease; /* Плавное изменение свойств */
 }
 
 .bar-menu ul li a:hover {
     background-color: #555; /* Цвет фона при наведении */
     border-radius: 5px; /* Закругление углов при наведении */
 }

 /* Создаем Видео на начальной странице */

 .VideoMain{
     text-align: center;
     transform: translateY(50px);
 }

 .ContactHavoc{
     text-align: center;
     transform: translateY(300px);
 }

 .Dev1{
    text-align: center;
    font-size: 40px;
    transform: translateY(50px);
    padding-top: -5%;
    font-family: "Anton", sans-serif;
    color: #fff;
    -webkit-text-stroke-color: #333;
    -webkit-text-stroke-width: 2px;
}

.Dev2{
    text-align: center;
    font-size: 40px;
    transform: translateY(50px);
    padding-top: -5%;
    font-family: "Anton", sans-serif;
    color: #fff;
    -webkit-text-stroke-color: #333;
    -webkit-text-stroke-width: 2px;
}

.Dev3{
    text-align: center;
    font-size: 40px;
    transform: translateY(50px);
    padding-top: -5%;
    font-family: "Anton", sans-serif;
    color: #fff;
    -webkit-text-stroke-color: #333;
    -webkit-text-stroke-width: 2px;
}

.Team{
    text-align: center;
    font-size: 40px;
    padding-top: -100%;
    transform: translateY(50px);
    font-family: "Anton", sans-serif;
    color: #fff;
    -webkit-text-stroke-color: #333;
    -webkit-text-stroke-width: 2px;
}